<table class="table table-striped table-sm">
    <thead>
        <tr>
            <th>Klant</th>
            <th>Status</th>
            <th>Gemaakt op</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let order of orders | async">
            <th>{{order.customer}}</th>
            <th>
                <select 
                    class="form-control form-control-sm" 
                    [(ngModel)]="swapIfEdited(order).status" 
                    [disabled]="!beingEdited(order)"
                >
                    <option *ngFor="let option of statusOptions" [ngValue]="option">{{option}}</option>
                </select>
            </th>
            <th>{{order.createdAt | date:"d/M/yy"}}</th>
            <th>
                <button class="btn btn-sm" (click)="onEdit(order)">
                    <fa-icon [icon]="faPencilAlt"></fa-icon>
                </button>
            </th>
            <th>
                <button class="btn btn-sm" (click)="onDelete(order)">
                    <fa-icon [icon]="faTrash"></fa-icon>
                </button>
            </th>
        </tr>
    </tbody>
</table>