<div class="container-fluid h-100">
    <div class="row h-100">
        <div class="col-3 col-md-2 col-xl-1 bg-light">
            <div class="row">
                <button routerLink="orders" class="col btn btn-light">
                    Bestellingen
                </button>
            </div>
            <div class="row">
                <button routerLink="customers" class="col btn btn-light">
                    Klanten
                </button>
            </div>
            <div class="row">
                <button routerLink="products" class="col btn btn-light">
                    Producten
                </button>
            </div>
        </div>
        <div class="col-9 col-md-10 col-xl-11 py-3">
            <div class="w-100 overflow-auto">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>