:host{
    flex-grow: 1;

    *::ng-deep {
        .form-control:disabled{
            border-color: transparent;
            background-color: transparent;
        }
        .btn-sm,.input-group-sm{
            font-size: 1rem !important;
        }
    }
}

