:host{
    flex-grow: 1;

    *::ng-deep {
        *:disabled{
            color: black !important;
        }
        .btn-sm,.input-group-sm{
            font-size: 1rem !important;
        }
    }
}

