<form [formGroup]="form">
    <div class="row" >
        <div class="col-auto">
            <label for="username" class="col-form-label">Username</label>
        </div>
        <div class="col-auto">
            <input 
                type="text" 
                class="form-control" 
                id="username"
                formControlName="username"
            >
        </div>
    </div>
    <div class="row">
        <div class="col-auto">
            <label for="email" class="col-form-label">Email</label>
        </div>
        <div class="col-auto">
            <input 
                type="email"
                class="form-control" 
                id="email" 
                formControlName="email"
            >
        </div>
    </div>
    <div class="row">
        <div class="col-auto">
            <label for="password" class="col-form-label">Password</label>
        </div>
        <div class="col-auto">
            <input 
                type="password" 
                class="form-control" 
                id="password" 
                formControlName="password"
            >
        </div>
    </div>
</form>