<form [formGroup]="reactiveForm" (ngSubmit)="onSubmit()">
    <div class="row" >
        <div class="col-auto">
            <label for="username" class="col-form-label">Username</label>
        </div>
        <div class="col-auto">
            <input 
                type="text" 
                class="form-control" 
                id="username"
                formControlName="username"
            >
            <span 
                class="form-text" 
                *ngIf="!reactiveForm.get('username').valid && reactiveForm.get('username').touched"
            >
                pls enter sum shit
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col-auto">
            <label for="password" class="col-form-label">Password</label>
        </div>
        <div class="col-auto">
            <input 
                type="password" 
                class="form-control" 
                id="password" 
                formControlName="password"
            >
        </div>
    </div>
    <span 
        class="form-text" 
        *ngIf="!reactiveForm.valid && reactiveForm.touched"
    >
        pls enter sum shit
    </span>
    <div class="row">
        <button type="submit">Submit</button>
    </div>
</form>