<div class="el1">
  <h1>Hi World!</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio architecto nemo officiis? 
    Iure enim harum, assumenda qui nostrum, voluptate quibusdam odio illo tempora labore hic est, 
    temporibus eligendi quis dignissimos.
  </p>
  <h2>blu</h2>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio architecto nemo officiis? 
    Iure enim harum, assumenda qui nostrum, voluptate quibusdam odio illo tempora labore hic est, 
    temporibus eligendi quis dignissimos.
  </p>
  <h1>Hi World!</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio architecto nemo officiis? 
    Iure enim harum, assumenda qui nostrum, voluptate quibusdam odio illo tempora labore hic est, 
    temporibus eligendi quis dignissimos.
  </p>
  <h2>blu</h2>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio architecto nemo officiis? 
    Iure enim harum, assumenda qui nostrum, voluptate quibusdam odio illo tempora labore hic est, 
    temporibus eligendi quis dignissimos.
  </p>
  <h1>Hi World!</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio architecto nemo officiis? 
    Iure enim harum, assumenda qui nostrum, vol uptate quibusdam odio illo tempora labore hic est, 
    temporibus eligendi quis dignissimos.
  </p>
  <h2>blu</h2>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio architecto nemo officiis? 
    Iure enim harum, assumenda qui nostrum, voluptate quibusdam odio illo tempora labore hic est, 
    temporibus eligendi quis dignissimos.
  </p>
</div>
<div class="layer-container">
  <nav class="el2">
    <h2>header</h2>
  </nav>
  <router-outlet></router-outlet>
</div>
