<div class="container">
    <section class="card">
        <div class="row">
            <div class="col-md-6">
                <section class="card-body">
                    <h6>Log in</h6>
                    <kku-signin></kku-signin>
                </section>
            </div>
            <div class="col-md-6">
                <section class="card-body">
                    <h6>Or make an account</h6>
                    <kku-signup></kku-signup>
                </section>
            </div>
        </div>
    </section>
</div>